<%-include ("../partials/head") -%>

<%- include ("../partials/nav") -%>

    <div class="posts-background">
        <div class="design-title">
            <h1>designs</h1>
        </div>
        
<div class="all-posts">
    <!-- USE AS A TEMPLATE -->

    <% for (post of posts) { %>
    <a href="/designs/<%= post._id%>">
        <div class="post">
            
            <img class= "post-img" src="<%= post.image %>">
            <div class="pink-line"></div>
            <div class="post-title">
                <p><%= post.title %></p>
            </div>
        </a>
  

        <!-- USE AS A TEMPLATE -->
        
            
        
        </div>

        <% } %>

        <!-- <div class="post">
    
            <img class= "post-img" src="./photos/posts/inflated-anxiety.jpg">
            <div class="pink-line"></div>
            <div class="post-title">
                <p>Inflated Anxiety</p>
            </div>
            
        </div>

<div class="post">
    
    <img class= "post-img" src="./photos/posts/inflated-anxiety.jpg">
    <div class="pink-line"></div>
    <div class="post-title">
        <p>Inflated Anxiety</p>
    </div>
    
</div>

<div class="post">
    
    <img class= "post-img" src="./photos/posts/inflated-anxiety.jpg">
    <div class="pink-line"></div>
    <div class="post-title">
        <p>Inflated Anxiety</p>
    </div>

    
    
</div>



<div class="post">
    
    <img class= "post-img" src="./photos/posts/inflated-anxiety.jpg">
    <div class="pink-line"></div>
    <div class="post-title">
        <p>Inflated Anxiety</p>
    </div>
    
</div> -->

<%- include("../partials/footer") -%>