<%-include ("../partials/head") -%>

<%- include ("../partials/nav") -%>

<div class="post-detail-background">
    <div class="post-detail-card">
        <div class="post-detail-title">
        <h1><%=post.title %></h1>
    
        </div>  
        <img class= "post-detail-img" src="<%= post.image %>">
    
        <div class="post-detail-artist-container">
            <div class="paintbrush">
            <i class="fa-solid fa-paintbrush"></i>
        </div>
            <div class="name-portfolio"><p>:<%= post.artist %></p><a id= "portfolio-link" href="<%= post.portfolio %>">portfolio</a></div>
        </div>
        
        <div class="post-detail-description">
            <h2>Description:</h2>
            <p id="description"><%= post.description %></p>
        </div>
    </div>
    
    
    
    </div>
    
    <%- include("../partials/footer") -%>