<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">

     <!-- Font Awesome -->
     <script src="https://kit.fontawesome.com/d907dec37d.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tilt+Warp&display=swap" rel="stylesheet">

    <script defer src="/scripts/scripts.js"></script>
    

    
</head>
<body>

<%- include ("../partials/nav") -%>

<div class="background">

    <div class="create-update-container">
       <div class="create-post-title">
       <h1>update post</h1>
       <div id="create-update-icon"> <i class="fa-solid fa-pen-to-square"></i></div>
      
    </div>

       <form action ="/designs/<%=post._id%>?_method=PUT" method="POST" class="create-update-form" enctype="application/x-www-form-url-encoded">
   
       <div class="label-input">
       <label for ="artist">artist:</label>
       
       
       <input type="text" class="form-input" value="<%= post.artist %>" name = "artist" required />
     

       </div>
   
       <div class="label-input">
       <label for = "image-link">image link:</i></label>
   
       <input type="text" class="form-input" value="<%= post.image %>" name="image">
   
       </div>

       <div class="label-input">
        <label for = "portfolio">portfolio link:</i></label>
    
        <input type="text" class="form-input" value ="<%= post.portfolio %>" name="portfolio">
    
        </div>

        <div class="label-input">
            <label for = "title">title:</i></label>
        
            <input type="text" class="form-input" value="<%= post.title %>" name="title">
        
            </div>

            

        <div class = "description-label-input"><label for="description">description:</label>

                    <textarea name="description" id="description" > <%=post.description %></textarea>

                </div>


       <div class="submit-container">
       <input type="submit" value="submit" id="sign-in"></div>
       
   
       
   
       <div class="submit-container">
       </div>
   
       
   
   
       </form>
   
   </div>
   
   
   
   </div>

   <%- include("../partials/footer") -%>